a.logo.smooth-leave(href='index.html')
	img(src='img/logo.png' alt='SO')
p.intro
	| DOLLAR MODA GRAPHICS, VIDEO & SCULPTURE
nav
	ul
		mixin link(href, text)
			li
				a.smooth-leave(href=href)=text

		+link('index.html', 'Works')
		+link('about.html', 'About')