a.logo.smooth-leave(href='index.html')
	img(src='img/logo.png' alt='SO')
p.intro
	| Dollar Moda is the king of polish videos (navigation.pug)
nav
	ul
		mixin link(href, text)
			li
				a.smooth-leave(href=href)=text
		li.dropdown
			span Work
			ul
				+link('index-columns-2.html', '2 Columns')
				+link('index.html', '3 Columns')
				+link('index-columns-4.html', '4 Columns')
				+link('project-page.html', 'Project Page')
				+link('project-page-alt.html', 'Project Page Alt')
		+link('about.html', 'About')