@import 'https://fonts.googleapis.com/css?family=Heebo:300,400,500';
@import 'https://fonts.googleapis.com/css?family=Inconsolata';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Heebo, Roboto, Arial, sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #0e0e0e;
    margin-bottom: 20px;
    margin-top: 30px;
}

h3, h4, h5, h6 {
    margin-bottom: 10px;
}

p {
    color: #6d6d6d;
    font-size: 15px;
    line-height: 1.8;
}

ul, ol {
    font-size: 15px;
    color: #6d6d6d;
    margin: 10px 0 10px 40px;
    padding: 0;
}

ul li, ol li {
    padding: 3px 0;
}

a {
    color: #48ba86;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: color 200ms, border-color 200ms;
            transition: color 200ms, border-color 200ms;
}

a:hover {
    color: #358d65;
    border-color: rgba(72, 186, 134, 0.3);
}

b {
    font-weight: 500;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    margin: 40px 0;
}

.directory-tree {
    padding: 10px 20px;
    margin: 20px 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 2px;
}

.directory-tree ul {
    list-style: none;
}

.directory-tree li {
    padding: 0;
}

.directory-tree li:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    margin-right: 7px;
}

.directory-tree li.folder:before {
    background-image: url("../img/folder.png");
}

.directory-tree li.file {
    font-size: 13px;
    padding: 1px 0;
}

.directory-tree li.file:before {
    background-image: url("../img/file.png");
}

::-moz-selection {
    background-color: #48ba86;
    color: #fff;
}

::selection {
    background-color: #48ba86;
    color: #fff;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    overflow: hidden;
}

.button {
    display: inline-block;
    border-radius: 2px;
    background-color: #48ba86;
    padding: 6px 20px;
    font-size: 15px;
    color: #fff;
    -webkit-transition: background-color 200ms;
            transition: background-color 200ms;
    border-bottom: none;
}

.button:hover {
    background-color: #3c9f72;
    color: #fff;
}

.screenshot {
    max-width: 100%;
}

.code-snippet {
    border: 1px solid rgba(0, 0, 0, 0.07);
    margin: 20px 0;
}

.code-snippet h6 {
    display: block;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.4px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 10px 15px;
}

.code-snippet pre code {
    padding: 30px;
    font-family: Inconsolata;
    font-size: 14px;
    line-height: 1.2;
    background-color: rgba(0, 0, 0, 0.03);
}

.selector {
    display: inline-block;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 0 5px;
    border-radius: 2px;
    line-height: 1.5;
}

header {
    background-color: #48ba86;
    padding: 100px 0;
    text-align: center;
    margin-bottom: 50px;
}

header h1 {
    margin: 0;
}

header h1 a {
    color: #fff;
    border-bottom: none;
}

header h1 a:hover {
    color: rgba(255, 255, 255, 0.7);
}

header p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    margin: 0;
}

header .button {
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    -webkit-transition: border-color 200ms;
            transition: border-color 200ms;
}

header .button:hover {
    background-color: transparent;
    border-color: #fff;
}

nav {
    width: 25%;
    float: left;
    overflow: hidden;
}

nav .inner {
    padding-right: 30px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 0;
}

nav ul li a {
    display: block;
    border-bottom: none;
    color: #6d6d6d;
    padding: 5px 0;
    -webkit-transition: color 200ms;
            transition: color 200ms;
}

nav ul li a:hover {
    color: #0e0e0e;
}

nav ul li.current a {
    color: #0e0e0e;
    font-weight: 400;
}

nav ul li.parent span {
    display: block;
    padding-top: 5px;
}

nav ul li.parent ul {
    padding: 0 0 5px 10px;
}

nav ul li.parent ul li {
    padding: 0;
}

nav ul li.parent ul li a {
    font-size: 13px;
}

main {
    width: 75%;
    float: left;
    overflow: hidden;
}

main .inner {
    padding-left: 30px;
}

main .bottom-page {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    margin: 50px 0 30px 0;
}

main h2 {
    margin-top: 0;
}
