extends layout/head
block title
	title SONEX – Contact
block content
	body#contact-page
		.global-outer
			.global-inner
				header#sidebar
					.sidebar-inner
						include layout/navigation
						include layout/copyright
				main#main
					.main-outer
						.container-fluid
							.page-title
								.row
									.col-md-8
										h1 About
										p.lead
											| I have a deep appreciation for art that integrates diverse styles and techniques. Rather than confining myself to a single discipline, I work across graphics, video and sculpture.
									.col-md-12
										p PHOTO HERE
								.say-hello
									.row
										.col-md-8
											h2 Contact
									.row
										.col-md-12
											form
												.row
													.col-sm-6
														input#contact-name(type='text' name='contact-name' placeholder='Name')
													.col-sm-6
														input#contact-email(type='text' name='contact-email' placeholder='Email')
												input#contact-subject(type='text' name='contact-subject' placeholder='Subject')
												textarea#contact-message(name='contact-message' placeholder='Message')
												a#submit.btn(href='#') Send Message
												#message
													.error
													.success
		include layout/js
		script(type='text/javascript').
			function initMap() {
				var mapOptions = {
					scrollwheel: false,
					zoom: 15,
					disableDefaultUI: true,
					center: new google.maps.LatLng(48.507664, 32.268486),
					styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
				};
				var mapElement = document.getElementById('google-map');
				var map = new google.maps.Map(mapElement, mapOptions);
				var marker = new google.maps.Marker({
					position: new google.maps.LatLng(48.507664, 32.268486),
					map: map,
					icon: 'img/map-marker.png',
					title: 'Sonex'
				});
			}
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX8G3RzmOAIGGMxZSXqxSkuc2UIs0QpLQ&callback=initMap")
