extends layout/head
block title
	title DOLLAR MODA GRAPHICS VIDEO & SCULPTURE
block content
	body#index-page
		.global-outer
			.global-inner
				header#sidebar
					.sidebar-inner
						include layout/navigation
						.widgets-block
							//- include layout/widgets/works-filter
						include layout/copyright
				main#main
					.main-outer
						.container-fluid
							.row
								.col-md-12
									#works-grid
										.gutter
										mixin works-item(title, categories, list, img)
											a(class='works-item smooth-leave ' + categories, href='project-page.html')
												.picture
													.content
														.text
															h2=title
															ul
																each val in list
																	li=val
													img(src=img, alt='')
										+works-item('Ćpaj Stajl - Lato w ghettcie', 'typography illustration', ['Typography', 'Illustration'], 'img/projects/cs_lwg/thumbnail.png')
										+works-item('Ćpaj Stajl - Melodramat', 'branding', ['Branding'], 'img/projects/cs_melodramat/thumbnail.png')
										+works-item('Ćpaj Stajl - Białe szaleństwo', 'typography branding', ['Typography', 'Branding'], 'img/projects/cs_bs/thumbnail.png')
										+works-item("Ćpaj Stajl - Złoty strzał", 'illustration', ['Illustration'], 'img/projects/cs_zs/thumbnail.png')
										+works-item("Kacperczyk", 'branding', ['Branding'], 'img/projects/kacperczyk/thumbnail.png')
										+works-item('Lordofon', 'branding', ['Branding'], 'img/projects/lordofon/thumbnail.png')
										+works-item('Tacet', 'illustration typography', ['Illustration', 'Typography'], 'img/projects/tacet/thumbnail.png')
										+works-item('Other', 'typography', ['Typography'], 'img/projects/rest/thumbnail.png')
								//- .row
								//- 	.col-md-12
								//- 		.load-more
								//- 			a.btn(href='#') Load More huju
		include layout/js