extends layout/head
block title
	title SONEX – Project
block content
	body#project-page
		.global-outer
			.global-inner
				header#sidebar
					.sidebar-inner
						include layout/navigation
						include layout/copyright
				main#main
					.main-outer
						.container-fluid
							.row
								.col-md-12
									.title-image
										img(src='img/projects/lordofon/1.png' alt='')
							.row
								.col-md-9
									.description
										h1 Lordofon - Passé
										ul.categories
											li Typography
											li Branding
										p
											| Together with photographer Karol Małecki (@karolgustavv), we created the album cover for “Lordofon - Passé” and illustrations for the singles included. Karol shot the cover photo using a Mamiya RZ67 Pro II medium format analog camera on Kodak Portra 400 film. All objects and typography were physically crafted and placed within the frame. The scene captured on the cover depicts the Lordofon duo relaxing in a garden with their mutant children. Everything is beautiful, everything is normal.

										p
											|
								.col-md-3
									.details
										ul
											li
												| Date:
												span July 2016
											li
												| Client:
												span Rom Mar
											li
												| Budget:
												span $3000
											li
												| Art Director:
												span John Doe
							.row
								.col-md-6
									.project-image
										.caption First Mockup
										img(src='img/projects/lordofon/5.png' alt='')
								.col-md-6
									.project-image
										.caption Second Mockup
										img(src='img/projects/lordofon/6.png' alt='')
							.row
								.col-md-12
									#project-carousel.carousel.slide
										ol.carousel-indicators
											li.active(data-target='.carousel' data-slide-to='0')
											li(data-target='.carousel' data-slide-to='1')
											li(data-target='.carousel' data-slide-to='2')
											li(data-target='.carousel' data-slide-to='3')
										.carousel-inner
											.item.active
												img(src='img/projects/lordofon/2.png' alt='')
											.item
												img(src='img/projects/lordofon/3.png' alt='')
											.item
												img(src='img/projects/lordofon/4.png' alt='')
											.item
												img(src='img/projects/lordofon/7.png' alt='')
		include layout/js